In [1]:
import tensorflow as tf
import os

BASE_PATH = '/Users/jaigupta/projects/cs229-proj/'
DS_PATH = BASE_PATH + 'dataset/'

all_files = os.listdir(BASE_PATH + 'dataset/sample')
patient_ids = {file_name.split('_')[0] for file_name in all_files}

print(patient_ids)

{'10', '16', '17', '15', '13'}

In [20]:
import pandas as pd
retina_df = pd.read_csv(BASE_PATH + 'dataset/trainLabels.csv.zip')

             image  level
0          10_left      0
1         10_right      0
2          13_left      0
3         13_right      0
4          15_left      1
5         15_right      2
6          16_left      4
7         16_right      4
8          17_left      0
9         17_right      1
10         19_left      0
11        19_right      0
12         20_left      0
13        20_right      0
14         21_left      0
15        21_right      0
16         22_left      0
17        22_right      0
18         23_left      0
19        23_right      0
20         25_left      0
21        25_right      0
22         30_left      1
23        30_right      2
24         31_left      0
25        31_right      0
26         33_left      0
27        33_right      0
28         36_left      1
29        36_right      0
...            ...    ...
35096   44317_left      0
35097  44317_right      0
35098   44323_left      1
35099  44323_right      1
35100   44325_left      0
35101  44325_right      0
35102   44327_left      0
35103  44327_right      0
35104   44328_left      0
35105  44328_right      1
35106   44330_left      0
35107  44330_right      0
35108   44331_left      0
35109  44331_right      0
35110   44334_left      0
35111  44334_right      0
35112   44337_left      1
35113  44337_right      0
35114   44338_left      0
35115  44338_right      0
35116   44339_left      0
35117  44339_right      0
35118   44343_left      0
35119  44343_right      0
35120   44347_left      0
35121  44347_right      0
35122   44348_left      0
35123  44348_right      0
35124   44349_left      0
35125  44349_right      1

[35126 rows x 2 columns]

In [26]:
patient_ids = retina_df['image'].map(lambda v: v.split('_')[0])
patient_ids = set(patient_ids.to_list())
left_image_format = '%s_left.jpeg'
right_image_format = '%s_right.jpeg'

In [19]:
import zipfile
all_zip = zipfile.ZipFile('dataset/diabetic-retinopathy-detection.zip', 'r')
# train_01_zip = zipfile.ZipFile('dataset/train.zip.001', 'r')
# train_01_zip
all_zip.namelist()

['sample.zip',
 'sampleSubmission.csv.zip',
 'test.zip.001',
 'test.zip.002',
 'test.zip.003',
 'test.zip.004',
 'test.zip.005',
 'test.zip.006',
 'test.zip.007',
 'train.zip.001',
 'train.zip.002',
 'train.zip.003',
 'train.zip.004',
 'train.zip.005',
 'trainLabels.csv.zip']

In [ ]:
import matplotlib.pyplot as plt
import os

def show_image(patient_id):
    files = list(filter(lambda f: f.startswith(patient_id+'_'), os.listdir()))
    files.sort()
    left_image = files[0]
    right_image = files[1]
    plt.show_image()

base_image_dir = os.path.join('..', 'input', 'diabetic-retinopathy-detection')
retina_df = pd.read_csv(os.path.join(base_image_dir, 'trainLabels.csv.zip'))
retina_df['PatientId'] = retina_df['image'].map(lambda x: x.split('_')[0])
retina_df['path'] = retina_df['image'].map(lambda x: os.path.join(base_image_dir,
                                                         'train.zip.001/{}.jpeg'.format(x)))
retina_df['exists'] = retina_df['path'].map(os.path.exists)
print(retina_df['exists'].sum(), 'images found of', retina_df.shape[0], 'total')
retina_df['eye'] = retina_df['image'].map(lambda x: 1 if x.split('_')[-1]=='left' else 0)
from keras.utils.np_utils import to_categorical
retina_df['level_cat'] = retina_df['level'].map(
    lambda x: to_categorical(x, 1+retina_df['level'].max()))

retina_df.dropna(inplace = True)
retina_df = retina_df[retina_df['exists']]
retina_df.sample(3)